@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,700&display=swap&subset=cyrillic');

body * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.inner {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.paragraph {
  line-height: 1.5;
}

.main-title,
.title-third,
.footer-title {
  font-family: 'Playfair Display', serif;
}

.main-title {
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px;
}

.title-second {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title-third {
  font-weight: 900;
  font-size: 23px;
}

.header-menu__input,
.footer-menu__input,
.header-menu__label,
.footer-menu__label {
  display: none;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  padding: 15px;
  transition: ease-out color 0.2s;
}

.menu li:hover a {
  color: #FF7931;
}

.menu li:first-child a {
  padding-left: 0;
}

.menu li:last-child a {
  padding-right: 0;
}

.header {
  padding-top: 60px;
  padding-bottom: 30px;
}

.main-post {
  background-image: url("img/main-post__icon.svg"), url("img/main-post__background.jpg");
  background-repeat: no-repeat;
  background-position: center 46px, center;
  background-size: 55px, cover;
  padding: 143px 0 48px;
}

.main-post-title {
  font-size: 72px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 139px;
}

.main-post__paragraph {
  color: #FFF;
  text-align: center;
  max-width: 460px;
  margin: 0 auto;
}

.reviews-block {
  padding-top: 44px;
  padding-bottom: 51px;
}

.review-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-item {
  flex: 1 1 calc(33.3333% - 20px);
  max-width: 370px;
  cursor: pointer;
}

.review-item:not(:last-child) {
  margin-right: 15px;
}

.review-picture {
  margin-bottom: 20px;
}

.review-picture img {
  width: 100%;
}

.review-item .title {
  text-align: left;
  transition: ease-out color 0.2s;
}

.review-item:hover .title {
  color: #FF7931;
}

.features-block {
  background: radial-gradient(circle, #FFF 353px, #F7F7F7 353px);
  padding-top: 33px;
  padding-bottom: 36px;
  margin-bottom: 50px;
}

.features-block .title-third {
  margin-bottom: 10px;
}

.features-block .paragraph {
  text-align: center;
  max-width: 370px;
  margin: 0 auto 24px;
  position: relative;
  padding-bottom: 30px;
}

.feature-item:not(:last-child) .paragraph:after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 100px;
  height: 1px;
  background: #F7F7F7;
  left: 50%;
  transform: translateX(-50%);
}

.button-block {
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background: #FF7931;
  padding: 11px 28px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  transition: ease-out background 0.2s;
}

.button img {
  margin-left: 11px;
  transition: ease-out transform 0.2s;
}

.button:hover {
  background: #f1722e;
}

.button:hover img {
  transform: translateX(10px);
}

.footer {
  flex: 0 0 auto;
  background: #575757;
  padding: 26px 0 46px;
}

.footer-title {
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1px;
  color: #FFF;
  margin-bottom: 17px;
}

.footer-menu {
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 30px;
  margin-bottom: 42px;
}

.footer-menu a {
  color: #FFF;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  overflow: hidden;
}

.social li {
  margin-right: 14px;
  background: #fff;
  min-width: 47px;
  min-height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-out background 0.2s;
}

.social li:hover {
  background: #FF7931;
}

.social a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

@media (max-width: 1055px) {
  .header-menu__label,
  .footer-menu__label {
    display: block;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
  }

  .header-menu,
  .footer-menu {
    display: block;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: ease-out max-height 0.5s;
  }

  .footer-menu__label {
    color: #FF7931;
  }

  .header-menu__input:checked ~ .header-menu,
  .footer-menu__input:checked ~ .footer-menu {
    max-height: 500px;
  }

  .menu li {
    width: 100%;
  }

  .menu a {
    padding: 10px 0;
  }
}

@media (max-width: 880px) {
  .review-item {
    flex: 0 1 calc(50% - 20px);
  }

  .review-item:last-child {
    margin-right: 15px;
  }

  .features-block {
    background: radial-gradient(circle, #FFF 45%, #F7F7F7 45%);
  }
}

@media (max-width: 660px) {
  .review-items {
    justify-content: center;
  }

  .main-post {
    padding: 100px 0 48px;
  }

  .main-post-title {
    font-size: 36px;
    margin-bottom: 45px;
  }

  .review-item {
    flex: 0 1 100%;
  }

  .review-item:not(:last-child),
  .review-item:last-child {
    margin-right: 0;
  }
}
